.app__layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .app__layout-topbar {
    height: fit-content;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .app__layout-topbar-signout {
      border: 0;
      background-color: transparent;
      color: var(--secondary-color);
    }
  }

  .app__layout-component-wrapper {
    padding: 2rem;
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 100%;

    border-top-left-radius: 3rem;
    box-shadow: -5px 5px 30px -5px rgba(158, 158, 158, 0.8);
    background-color: white;
  }

  .btn-icon {
    width: 25px;
    height: 25px;
  }
}
