* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --lightmode-primary-color: #edf2f8;
  --lightmode-secondary-color: #030303;
  --darkmode-primary-color: #030303;
  --darkmode-secondary-color: #edf2f8
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}