.app__header {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lightmode-secondary-color);

    margin-top: -1rem;

    .app__header-content {

    }
}